################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution/AdventCode.opensdf
/Solution/AdventCode.sdf
/temp/Debug
/Workbed/AdventCode_Debug.ilk
/Workbed/AdventCode_Debug.pdb
/Workbed/AdventCode_Debug.exe
/Workbed/AdventCode_Release.exe
/Workbed/AdventCode_Release.pdb
/temp/Release
/Solution/AdventCode.v12.suo
/Solution/ipch
