################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solution/AdventCode.opensdf
/Solution/AdventCode.sdf
/temp/Debug
/Workebed/AdventCode_Debug.ilk
/Workebed/AdventCode_Debug.pdb
